@{
    ViewData["Title"] = "Listado de solicitudes";
    Layout = "/Views/Shared/_Layout_client.cshtml";
}

@using Newtonsoft.Json
@using Services.DTOs
@model IEnumerable<Services.DTOs.DTO_Request>

<h2>Listado de solicitudes</h2>

<p>@Html.ActionLink("Crear nuevo", "Create")</p>

<table border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Request_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datetime_request)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_request)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Pledge)*@
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Request_ID.ToString(), "Details", new { id = item.Request_ID })|
                @*@Html.DisplayFor(modelItem => item.Request_ID)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datetime_request)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_request)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Pledge)*@
                @*@Html.ActionLink(item.Pledge.ToString(), "Details", "Pledge", new { id = item.Request_ID })|*@
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Request_ID })|
                @Html.ActionLink("Details", "Details", new { id = item.Request_ID })|
                @Html.ActionLink("Delete", "Delete", new { id = item.Request_ID })
            </td>
        </tr>
    }
</table>
