<!DOCTYPE html>
<html lang="es-UY">

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chempeño: @ViewData["Title"] </title>

    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>Chempeño</title>
    <meta name="description" content="Chempeño" />
    <!-- Favicon -->
    <link href="~/img/brand-sm.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- Daterangepicker CSS -->
    <link href="~/vendors/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
    <!-- Data Table CSS -->
    <link href="~/vendors/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
    <link href="~/vendors/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css" />

    <!-- JQuery UI CSS -->
    <link href="~/vendors/jquery/dist/jquery-ui.css" rel="stylesheet" type="text/css" />

    <!-- Sweet Alert CSS -->
    <link rel="stylesheet" href="~/vendors/sweetalert/sweetalert.css" />

    <!-- CSS -->
    <link href="~/css/style.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        .pointer {
            cursor: pointer;
        }

        .swal-title {
            padding: 0 !important;
        }

        .swal-footer {
            margin: 0 !important;
        }
    </style>


</head>
<body>


    <!-- Wrapper -->
    <div class="hk-wrapper" data-layout="vertical" data-layout-style="default" data-menu="dark" data-footer="simple">
        <!-- Top Navbar -->
        <nav class="hk-navbar navbar navbar-expand-xl navbar-light fixed-top">
            <div class="container-fluid px-5">
                <!-- Start Nav -->
                <div class="nav-start-wrap">
                    <button class="btn btn-icon btn-rounded btn-flush-dark flush-soft-hover navbar-toggle d-xl-none"><span class="icon"><span class="feather-icon"><i data-feather="align-left"></i></span></span></button>
                    <!-- Search -->
                    <form class="dropdown navbar-search">
                        <div class="dropdown-toggle no-caret" data-bs-toggle="dropdown" data-dropdown-animation data-bs-auto-close="outside">
                            <a href="#" class="btn btn-icon btn-rounded btn-flush-dark flush-soft-hover  d-xl-none"><span class="icon"><span class="feather-icon"><i data-feather="search"></i></span></span></a>
                            <div class="input-group d-xl-flex d-none">
                                <span class="input-affix-wrapper input-search affix-border">
                                    <input type="text" class="form-control  bg-transparent" data-navbar-search-close="false" placeholder="Search..." aria-label="Search">
                                    <span class="input-suffix">
                                        <span>/</span>
                                        <span class="btn-input-clear"><i class="bi bi-x-circle-fill"></i></span>
                                        <span class="spinner-border spinner-border-sm input-loader text-primary" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="dropdown-menu p-0">
                            <!-- Mobile Search -->
                            <div class="dropdown-item d-xl-none bg-transparent">
                                <div class="input-group mobile-search">
                                    <span class="input-affix-wrapper input-search">
                                        <input type="text" class="form-control" placeholder="Search..." aria-label="Search">
                                        <span class="input-suffix">
                                            <span class="btn-input-clear"><i class="bi bi-x-circle-fill"></i></span>
                                            <span class="spinner-border spinner-border-sm input-loader text-primary" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <!--/ Mobile Search -->
                            <div data-simplebar class="dropdown-body p-2">
                                <h6 class="dropdown-header">
                                    Recent Search
                                </h6>
                                <div class="dropdown-item bg-transparent">
                                    <a href="#" class="badge badge-pill badge-soft-secondary">Grunt</a>
                                    <a href="#" class="badge badge-pill badge-soft-secondary">Node JS</a>
                                    <a href="#" class="badge badge-pill badge-soft-secondary">SCSS</a>
                                </div>
                                <div class="dropdown-divider"></div>
                                <h6 class="dropdown-header">
                                    Help
                                </h6>
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <div class="media align-items-center">
                                        <div class="media-head me-2">
                                            <div class="avatar avatar-icon avatar-xs avatar-soft-light avatar-rounded">
                                                <span class="initial-wrap">
                                                    <span class="svg-icon">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-corner-down-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                            <path d="M6 6v6a3 3 0 0 0 3 3h10l-4 -4m0 8l4 -4"></path>
                                                        </svg>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            How to setup theme?
                                        </div>
                                    </div>
                                </a>
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <div class="media align-items-center">
                                        <div class="media-head me-2">
                                            <div class="avatar avatar-icon avatar-xs avatar-soft-light avatar-rounded">
                                                <span class="initial-wrap">
                                                    <span class="svg-icon">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-corner-down-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                            <path d="M6 6v6a3 3 0 0 0 3 3h10l-4 -4m0 8l4 -4"></path>
                                                        </svg>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            View detail documentation
                                        </div>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <h6 class="dropdown-header">
                                    Users
                                </h6>
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <div class="media align-items-center">
                                        <div class="media-head me-2">
                                            <div class="avatar avatar-xs avatar-rounded">
                                                <img src="~/img/avatar3.jpg" alt="user" class="avatar-img">
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            Sarah Jone
                                        </div>
                                    </div>
                                </a>
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <div class="media align-items-center">
                                        <div class="media-head me-2">
                                            <div class="avatar avatar-xs avatar-soft-primary avatar-rounded">
                                                <span class="initial-wrap">J</span>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            Joe Jackson
                                        </div>
                                    </div>
                                </a>
                                <a href="javascript:void(0);" class="dropdown-item">
                                    <div class="media align-items-center">
                                        <div class="media-head me-2">
                                            <div class="avatar avatar-xs avatar-rounded">
                                                <img src="~/img/avatar4.jpg" alt="user" class="avatar-img">
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            Maria Richard
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="dropdown-footer d-xl-flex d-none"><a href="#"><u>Search all</u></a></div>
                        </div>
                    </form>
                    <!-- /Search -->
                </div>
                <!-- /Start Nav -->
                <!-- End Nav -->
                <div class="nav-end-wrap">
                    <ul class="navbar-nav flex-row">
                        <li class="nav-item">
                            <a href="email.html" class="btn btn-icon btn-rounded btn-flush-dark flush-soft-hover"><span class="icon"><span class=" position-relative"><span class="feather-icon"><i data-feather="inbox"></i></span><span class="badge badge-sm badge-soft-primary badge-sm badge-pill position-top-end-overflow-1">4</span></span></span></a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown dropdown-notifications">
                                <a href="#" class="btn btn-icon btn-rounded btn-flush-dark flush-soft-hover dropdown-toggle no-caret" data-bs-toggle="dropdown" data-dropdown-animation role="button" aria-haspopup="true" aria-expanded="false"><span class="icon"><span class="position-relative"><span class="feather-icon"><i data-feather="bell"></i></span><span class="badge badge-success badge-indicator position-top-end-overflow-1"></span></span></span></a>
                                <div class="dropdown-menu dropdown-menu-end p-0">
                                    <h6 class="dropdown-header px-4 fs-6">
                                        Notifications<a href="#" class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover"><span class="icon"><span class="feather-icon"><i data-feather="settings"></i></span></span></a>
                                    </h6>
                                    <div data-simplebar class="dropdown-body  p-2">
                                        <a href="javascript:void(0);" class="dropdown-item">
                                            <div class="media">
                                                <div class="media-head">
                                                    <div class="avatar avatar-rounded avatar-sm">
                                                        <img src="~/img/avatar2.jpg" alt="user" class="avatar-img">
                                                    </div>
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                        <div class="notifications-text">Morgan Freeman accepted your invitation to join the team</div>
                                                        <div class="notifications-info">
                                                            <span class="badge badge-soft-success">Collaboration</span>
                                                            <div class="notifications-time">Today, 10:14 PM</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="javascript:void(0);" class="dropdown-item">
                                            <div class="media">
                                                <div class="media-head">
                                                    <div class="avatar  avatar-icon avatar-sm avatar-success avatar-rounded">
                                                        <span class="initial-wrap">
                                                            <span class="feather-icon"><i data-feather="inbox"></i></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                        <div class="notifications-text">New message received from Alan Rickman</div>
                                                        <div class="notifications-info">
                                                            <div class="notifications-time">Today, 7:51 AM</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="javascript:void(0);" class="dropdown-item">
                                            <div class="media">
                                                <div class="media-head">
                                                    <div class="avatar  avatar-icon avatar-sm avatar-pink avatar-rounded">
                                                        <span class="initial-wrap">
                                                            <span class="feather-icon"><i data-feather="clock"></i></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                        <div class="notifications-text">You have a follow up with Appster Head on Friday, Dec 19 at 9:30 am</div>
                                                        <div class="notifications-info">
                                                            <div class="notifications-time">Yesterday, 9:25 PM</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="javascript:void(0);" class="dropdown-item">
                                            <div class="media">
                                                <div class="media-head">
                                                    <div class="avatar avatar-sm avatar-rounded">
                                                        <img src="~/img/avatar3.jpg" alt="user" class="avatar-img">
                                                    </div>
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                        <div class="notifications-text">Application of Sarah Williams is waiting for your approval</div>
                                                        <div class="notifications-info">
                                                            <div class="notifications-time">Today 10:14 PM</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="javascript:void(0);" class="dropdown-item">
                                            <div class="media">
                                                <div class="media-head">
                                                    <div class="avatar avatar-sm avatar-rounded">
                                                        <img src="~/img/avatar10.jpg" alt="user" class="avatar-img">
                                                    </div>
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                        <div class="notifications-text">Winston Churchil shared a document with you</div>
                                                        <div class="notifications-info">
                                                            <span class="badge badge-soft-violet">File Manager</span>
                                                            <div class="notifications-time">2 Oct, 2021</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="javascript:void(0);" class="dropdown-item">
                                            <div class="media">
                                                <div class="media-head">
                                                    <div class="avatar  avatar-icon avatar-sm avatar-danger avatar-rounded">
                                                        <span class="initial-wrap">
                                                            <span class="feather-icon"><i data-feather="calendar"></i></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                        <div class="notifications-text">Last 2 days left for the project to be completed</div>
                                                        <div class="notifications-info">
                                                            <span class="badge badge-soft-orange">Updates</span>
                                                            <div class="notifications-time">14 Sep, 2021</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="dropdown-footer"><a href="#"><u>View all notifications</u></a></div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown ps-2">
                                <a class=" dropdown-toggle no-caret" href="#" role="button" data-bs-display="static" data-bs-toggle="dropdown" data-dropdown-animation data-bs-auto-close="outside" aria-expanded="false">
                                    <div class="avatar avatar-rounded avatar-xs">
                                        <img src="~/img/avatar12.jpg" alt="user" class="avatar-img">
                                    </div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <div class="p-2">
                                        <div class="media">
                                            <div class="media-head me-2">
                                                <div class="avatar avatar-primary avatar-sm avatar-rounded">
                                                    <span class="initial-wrap">Hk</span>
                                                </div>
                                            </div>
                                            <div class="media-body">
                                                <div class="dropdown">
                                                    <a href="#" class="d-block dropdown-toggle link-dark fw-medium" data-bs-toggle="dropdown" data-dropdown-animation data-bs-auto-close="inside">Hencework</a>
                                                    <div class="dropdown-menu dropdown-menu-end">
                                                        <div class="p-2">
                                                            <div class="media align-items-center active-user mb-3">
                                                                <div class="media-head me-2">
                                                                    <div class="avatar avatar-primary avatar-xs avatar-rounded">
                                                                        <span class="initial-wrap">Hk</span>
                                                                    </div>
                                                                </div>
                                                                <div class="media-body">
                                                                    <a href="#" class="d-flex align-items-center link-dark">Hencework <i class="ri-checkbox-circle-fill fs-7 text-primary ms-1"></i></a>
                                                                    <a href="#" class="d-block fs-8 link-secondary"><u>Manage your account</u></a>
                                                                </div>
                                                            </div>
                                                            <div class="media align-items-center mb-3">
                                                                <div class="media-head me-2">
                                                                    <div class="avatar avatar-xs avatar-rounded">
                                                                        <img src="~/img/avatar12.jpg" alt="user" class="avatar-img">
                                                                    </div>
                                                                </div>
                                                                <div class="media-body">
                                                                    <a href="#" class="d-block link-dark">Chempeño Team</a>
                                                                    <a href="#" class="d-block fs-8 link-secondary">hola@chempeno.uy</a>
                                                                </div>
                                                            </div>
                                                            <button class="btn btn-block btn-outline-light btn-sm">
                                                                <span>
                                                                    <span class="icon"><span class="feather-icon"><i data-feather="plus"></i></span></span>
                                                                    <span>Add Account</span>
                                                                </span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="fs-7">contact@hencework.com</div>
                                                <a href="#" class="d-block fs-8 link-secondary"><u>Sign Out</u></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="profile.html">Profile</a>
                                    <a class="dropdown-item" href="#"><span class="me-2">Offers</span><span class="badge badge-sm badge-soft-pink">2</span></a>
                                    <div class="dropdown-divider"></div>
                                    <h6 class="dropdown-header">Manage Account</h6>
                                    <a class="dropdown-item" href="#"><span class="dropdown-icon feather-icon"><i data-feather="credit-card"></i></span><span>Payment methods</span></a>
                                    <a class="dropdown-item" href="#"><span class="dropdown-icon feather-icon"><i data-feather="check-square"></i></span><span>Subscriptions</span></a>
                                    <a class="dropdown-item" href="#"><span class="dropdown-icon feather-icon"><i data-feather="settings"></i></span><span>Settings</span></a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#"><span class="dropdown-icon feather-icon"><i data-feather="tag"></i></span><span>Raise a ticket</span></a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Terms & Conditions</a>
                                    <a class="dropdown-item" href="#">Help & Support</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /End Nav -->
            </div>
        </nav>
        <!-- /Top Navbar -->
        <!-- Vertical Nav -->
        <div class="hk-menu">
            <!-- Brand -->
            <div class="menu-header">
                <span>
                    <a class="navbar-brand" href="index.html">
                        <img class="brand-img img-fluid" src="~/img/brand-sm.svg" alt="brand" />
                        <img class="brand-img img-fluid" src="~/img/Chempe_text.png" alt="brand" />
                    </a>
                    <button class="btn btn-icon btn-rounded btn-flush-dark flush-soft-hover navbar-toggle">
                        <span class="icon">
                            <span class="svg-icon fs-5">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-bar-to-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <line x1="10" y1="12" x2="20" y2="12"></line>
                                    <line x1="10" y1="12" x2="14" y2="16"></line>
                                    <line x1="10" y1="12" x2="14" y2="8"></line>
                                    <line x1="4" y1="4" x2="4" y2="20"></line>
                                </svg>
                            </span>
                        </span>
                    </button>
                </span>
            </div>
            <!-- /Brand -->
            <!-- Main Menu -->
            <div data-simplebar class="nicescroll-bar">
                <div class="menu-content-wrap">
                    <div class="menu-group">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-item active">
                                <a class="nav-link" href="index.html">
                                    <span class="nav-icon-wrap">
                                        <span class="svg-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-template" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <rect x="4" y="4" width="16" height="4" rx="1" />
                                                <rect x="4" y="12" width="6" height="8" rx="1" />
                                                <line x1="14" y1="12" x2="20" y2="12" />
                                                <line x1="14" y1="16" x2="20" y2="16" />
                                                <line x1="14" y1="20" x2="20" y2="20" />
                                            </svg>
                                        </span>
                                    </span>
                                    <span class="nav-link-text">Panel de control</span>
                                    <span class="badge badge-sm badge-pink ms-auto">Hot</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="menu-gap"></div>
                    <div class="menu-group">
                        <div class="nav-header">
                            <span>Menú usuarios</span>
                        </div>
                        <ul class="navbar-nav flex-column">

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Pledge_Request")">
                                    <span class="nav-icon-wrap">
                                        <span class="svg-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message-dots" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <path d="M4 21v-13a3 3 0 0 1 3 -3h10a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-9l-4 4" />
                                                <line x1="12" y1="11" x2="12" y2="11.01" />
                                                <line x1="8" y1="11" x2="8" y2="11.01" />
                                                <line x1="16" y1="11" x2="16" y2="11.01" />
                                            </svg>
                                        </span>
                                    </span>
                                    <span class="nav-link-text">Las solicitudes</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Pledge_Approval")">
                                    <span class="nav-icon-wrap">
                                        <span class="svg-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message-dots" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <path d="M4 21v-13a3 3 0 0 1 3 -3h10a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-9l-4 4" />
                                                <line x1="12" y1="11" x2="12" y2="11.01" />
                                                <line x1="8" y1="11" x2="8" y2="11.01" />
                                                <line x1="16" y1="11" x2="16" y2="11.01" />
                                            </svg>
                                        </span>
                                    </span>
                                    <span class="nav-link-text">Las aprobaciones</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Pledge_Acceptance")">
                                    <span class="nav-icon-wrap">
                                        <span class="svg-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message-dots" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <path d="M4 21v-13a3 3 0 0 1 3 -3h10a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-9l-4 4" />
                                                <line x1="12" y1="11" x2="12" y2="11.01" />
                                                <line x1="8" y1="11" x2="8" y2="11.01" />
                                                <line x1="16" y1="11" x2="16" y2="11.01" />
                                            </svg>
                                        </span>
                                    </span>
                                    <span class="nav-link-text">Las aceptaciones</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Pledge_Assignment")">
                                    <span class="nav-icon-wrap">
                                        <span class="svg-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-message-dots" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <path d="M4 21v-13a3 3 0 0 1 3 -3h10a3 3 0 0 1 3 3v6a3 3 0 0 1 -3 3h-9l-4 4" />
                                                <line x1="12" y1="11" x2="12" y2="11.01" />
                                                <line x1="8" y1="11" x2="8" y2="11.01" />
                                                <line x1="16" y1="11" x2="16" y2="11.01" />
                                            </svg>
                                        </span>
                                    </span>
                                    <span class="nav-link-text">Las asignaciones</span>
                                </a>
                            </li>


                        </ul>
                    </div>
                    <div class="menu-gap"></div>
                    <div class="menu-gap"></div>
                    <div class="menu-group">
                        <div class="nav-header">
                            <span>Perfil</span>
                        </div>
                        <ul class="navbar-nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="installation.html">
                                    <span class="nav-icon-wrap">
                                        <span class="svg-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                <path d="M10 12h-1v5h1" />
                                                <path d="M14 12h1v5h-1" />
                                                <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                                                <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
                                            </svg>
                                        </span>
                                    </span>
                                    <span class="nav-link-text">Preferencias</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="callout card card-flush bg-smoke-dark-5 text-center mt-5 w-220p mx-auto">
                        <div class="card-body">
                            <h5 class="h5 text-white">Obtener ayuda ahora</h5>
                            <p class="p-sm card-text text-white text-opacity-75">con un asesor en línea</p>
                            <a href="installation.html" class="btn btn-primary btn-block">¡Hola!</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Main Menu -->
        </div>
        <div id="hk_menu_backdrop" class="hk-menu-backdrop"></div>
        <!-- /Vertical Nav -->
        <!-- Main Content -->
        <div class="hk-pg-wrapper">
            <div class="container-fluid p-5 pb-0">






                @RenderBody()









            </div>

            <!-- Page Footer -->
            <div class="hk-footer">
                <footer class="container-fluid footer px-5">
                    <div class="row">
                        <div class="col-xl-8">
                            <p class="footer-text"><span class="copy-text">Chempeño © 2022 Todos los derechos reservados.</span> <a href="#" class="">Términos y condiciones</a><span class="footer-link-sep">|</span><a href="#" class="">Sobre nosotros</a><span class="footer-link-sep">|</span><a href="#" class="">Preguntas frecuentes</a></p>
                        </div>
                        <div class="col-xl-4">
                            <a href="#" class="footer-extr-link link-default"><span class="feather-icon"><i data-feather="external-link"></i></span><u>Enviar feedback</u></a>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- / Page Footer -->
        </div>
        <!-- /Main Content -->
    </div>
    <!-- /Wrapper -->
    <!-- jQuery -->
    <script src="~/vendors/jquery/dist/jquery.min.js"></script>
    <!-- jQuery UI -->
    <script src="~/vendors/jquery/dist/jquery-ui.js"></script>
    <!-- Bootstrap Core JS -->
    <script src="~/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FeatherIcons JS -->
    <script src="~/js/feather.min.js"></script>
    <!-- Fancy Dropdown JS -->
    <script src="~/js/dropdown-bootstrap-extended.js"></script>
    <!-- Simplebar JS -->
    <script src="~/vendors/simplebar/dist/simplebar.min.js"></script>
    <!-- Data Table JS -->
    <script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/vendors/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/vendors/datatables.net-select/js/dataTables.select.min.js"></script>
    <!-- Daterangepicker JS -->
    <script src="~/vendors/moment/min/moment.min.js"></script>
    <script src="~/vendors/daterangepicker/daterangepicker.js"></script>
    <script src="~/js/daterangepicker-data.js"></script>
    <!-- Amcharts Maps JS -->
    <script src="~/vendors/%40amcharts/amcharts4/core.js"></script>
    <script src="~/vendors/%40amcharts/amcharts4/maps.js"></script>
    <script src="~/vendors/%40amcharts/amcharts4-geodata/worldLow.js"></script>
    <script src="~/vendors/%40amcharts/amcharts4-geodata/worldHigh.js"></script>
    <script src="~/vendors/%40amcharts/amcharts4/themes/animated.js"></script>
    <!-- Apex JS -->
    <script src="~/vendors/apexcharts/dist/apexcharts.min.js"></script>

    <!-- Sweet Alert JS -->
    <script src="~/vendors/sweetalert/sweetalert.min.js"></script>

    <!-- Auxiliar functions JS -->
    <script src="~/js/auxiliar_functions.js"></script>


    <!-- Init JS -->
    <script src="~/js/init.js"></script>
    <script src="~/js/chips-init.js"></script>
    <script src="~/js/dashboard-data.js"></script>
    <script>
        var accordion1IsOpen = false;
        var accordion2IsOpen = false;

        function accordionOnClick(number) {
            switch (number) {
                case 1:
                    {
                        if (!accordion1IsOpen) {
                            $("#accordion1").slideUp();
                        } else {
                            $("#accordion1").slideDown();
                        }
                        accordion1IsOpen = !accordion1IsOpen;
                        break;
                    }
                case 2:
                    {
                        if (!accordion2IsOpen) {
                            $("#accordion2").slideUp();
                        } else {
                            $("#accordion2").slideDown();
                        }
                        accordion2IsOpen = !accordion2IsOpen;
                        break;
                    }
            } //switch
        } //function
    </script>

    @RenderSection("scripts", required: false)

</body>

</html>